{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
  ],
  "rules": {
    "react/forbid-prop-types": 0,
    "jsx-a11y/img-has-alt": 0,
    "jsx-a11y/no-static-element-interactions": 0,
  },
  "globals": {
    "document": 1
  }
}