{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
  ],
  "rules": {
    "no-console": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/no-array-index-key": 0,
    "react/forbid-prop-types": 0,
    "class-methods-use-this": 0,
    "react/require-default-props": 0,
    "jsx-a11y/img-has-alt": 0
  },
  "globals": {
    "document": 1
  }
}