{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-console": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 1,
    "react/no-array-index-key": 0,
    "react/forbid-prop-types": 0
  },
  "globals": {
    "document": 1
  }
}